<ul class="sidebar-list">
    <li class="sidebar-item">
        <h3><%= link_to "Location and Title", post_listing_path, class: "sidebar-link active" %></h3>
    </li>
        <li class="sidebar-item">
        <h3><%= link_to "Description", description_listing_path, class: "sidebar-link active" %></h3>
    </li>    
        <li class="sidebar-item">
        <h3><%= link_to "Address", location_listing_path, class: "sidebar-link active" %></h3>
    </li>    
        <li class="sidebar-item">
        <h3><%= link_to "Features", amenities_listing_path, class: "sidebar-link active" %></h3>
    </li>    
        <li class="sidebar-item">
        <h3><%= link_to "Photos", photo_upload_listing_path(listing.id), class: "sidebar-link active" %></h3>
    </li>
        <li class="sidebar-item">
        <h3><%= link_to "Pricing", pricing_listing_path, class: "sidebar-link active" %></h3>
    </li>




</ul>