
<div class="sidebar-list">

                <div class="sidebar-link">
                    <% if !@listing.title.blank? %>                       
                        <%= link_to post_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-success">
                            <i class="fa fa-info-circle fa-5x"></i>
                        <br/>
                        <br/>Info</li>  
                        <% end %>
                    <% else %>
                        <%= link_to post_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-warning">
                            <i class="fa fa-info-circle fa-5x"></i>
                        <br/>
                        <br/>Info</li>  
                        <% end %>
                    <% end %>         
                </div>

                <div class="sidebar-link">
                    <% if !@listing.address_zone.blank? %>                       
                        <%= link_to location_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-success">
                            <i class="fa fa-home fa-5x"></i>
                            <br/>
                            <br/>Address</li> 
                        <% end %>
                    <% else %>
                        <%= link_to location_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-warning">
                            <i class="fa fa-home fa-5x"></i>
                            <br/>
                            <br/>Address</li> 
                        <% end %>
                    <% end %>          
                </div>

                <div class="sidebar-link">
                    <% if !@listing.bed_room.blank? %>                       
                        <%= link_to amenities_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-success">
                            <i class="fa fa-bed fa-5x"></i>
                            <br/>
                            <br/>Details</li> 
                        <% end %>
                    <% else %>
                        <%= link_to amenities_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-warning">
                            <i class="fa fa-bed fa-5x"></i>
                            <br/>
                            <br/>Details</li> 
                        <% end %>
                    <% end %>          
                </div>

                <div class="sidebar-link">
                    <% if !@listing.price.blank? %>                       
                        <%= link_to pricing_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-success">
                            <i class="fa fa-money fa-5x"></i>
                            <br/>
                            <br/>Price</li> 
                        <% end %>
                    <% else %>
                        <%= link_to pricing_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-warning">
                            <i class="fa fa-money fa-5x"></i>
                            <br/>
                            <br/>Price</li> 
                        <% end %>
                    <% end %>          
                </div> 

                <div class="sidebar-link">
                    <% if !@listing.photos.blank? %>                       
                        <%= link_to photo_upload_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-success">
                            <i class="fa fa-image fa-5x"></i>
                            <br/>
                            <br/>Photos</li> 
                        <% end %>
                    <% else %>
                        <%= link_to photo_upload_listing_path do %>
                            <li class="btn btn-squared-default-plain btn-warning">
                            <i class="fa fa-image fa-5x"></i>
                            <br/>
                            <br/>Photos</li> 
                        <% end %>
                    <% end %>          
                </div> 

                <div class="sidebar-link">
                    <% is_ready = !@listing.active && !@listing.title.blank? && !@listing.bed_room.blank? && !@listing.address_zone.blank? && !@listing.photos.blank? && !@listing.price.blank? %>
                    <%= form_for @listing do |f| %>
                        <%= f.hidden_field :active, value: true %>
                        <%= button_tag type: 'submit', class: "btn btn-squared-default-plain btn-info", id: "publish_button", disabled: !is_ready do %>
                        <span class = ""><i class="fa fa-bullhorn fa-5x" aria-hidden="true"></i></span>
                        <br/><br/>
                        Submit
                    <% end %>
                    <% end %>
                </div>
</div>




