<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Your Listings", listings_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Sold Listings", listings_path, class: "sidebar-link active" %></li>
         </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listings
            </div>
            <div class="panel-body" id="mid-description" >
                <% @listings.each do |listing| %>
                    <div class="row" >
                        <div class="col-md-2" >
                            <div class="image_list_thumb"><%= image_tag listing.default_photo %></div>
                        </div>
                        <div class="col-md-7" >
                            <h4><%= listing.title %>
                        </div>
                        <div class="col-md-3 right">
                            <%= link_to "Edit", post_listing_path(listing), class: "btn btn-form"%>
                        </div>
                    </div>
                    <hr/>
                <% end %>
            </div>
        </div>
    </div>
</div>