<div class="row">
    <div class="col-md-3">
    <%= render 'listing_menu' %>
</div>
<div class="col-md-9">
    <div class="panel panel-default">

<h1 class="text-center">Address</h1>

    <div class="panel-body">
        <div class="container">
           <%= form_for @listing do |f| %>

<div class="row">
    <div class="row form-group">
<div class="col-md-3">
        <h3><label>Number</label></h3>
        <%= f.number_field :address_number, placeholder: "Street Number", class: "form-control", required: true %>
        </div>
        <div class="col-md-9">    
        <h3><label>Street</label></h3>
        <%= f.text_field :address_street, placeholder: "Street Name", class: "form-control", required: true %>
        </div>
        </div>
            <div class="form-group">
        <h3><label>Zone</label></h3>
        <%= f.text_field :address_zone, placeholder: "Sreet Zone", class: "form-control", required: true %>
        </div>
<br/>
    </div>

    <div class="text-center">
        <%= f.submit "Save", class: "btn btn-form" %>
        </div>

            <% end %>
        </div>
    </div>
    
   </div>
  </div>
</div> 