<div class="row">
    <div class="col-md-2">
        <%= render 'listing_menu', listing: @listing %>
    </div>
<div class="col-md-10">
    <div class="panel panel-default">
                <h1 class="text-center">Where is your property located?</h1>
          <div class="panel-body">
        <div class="container">
            <%= form_for @listing do |f| %>
            <div class="row">
                            <div class="col-md-2">
                            <div class="form-group">
                                <h3><label>Number</label></h3>
                                <%= f.number_field :address_number, placeholder: "Street Number", class: "form-control", required: true %>
                            </div>
                            </div>
                            <div class="col-md-10">
                            <div class="form-group">    
                                <h3><label>Street Name</label></h3>
                                <%= f.text_field :address_street, placeholder: "Street Name", class: "form-control", required: true %>
                            </div>
                            </div>
                            <div class="col-md-12"> 
                            <div class="form-group">
                                <h3><label>Suburb</label></h3>
                                <%= f.text_field :address_zone, placeholder: "Sreet Zone", class: "form-control", required: true %>
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                <h3><label>City</label></h3>
                                <%= f.select :address_city, [["New Cloud City", "New Cloud City"], ["Upper West Dome City", "Upper West Dome City"], ["Mars Space Station", "Mars Space Station"], ["First Settlers Colony", "First Settlers Colony"], ["Rural", "Rural"]],
                                    id: "address_city", prompt: "Select...", class: "form-control" %>
                            </div>  
                     
    
                            <br/><br/>
                                <%= f.submit "Save", class: "btn btn-form btn-block" %>
       

                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
