
<div class="row">
    <div class="col-md-12">  
            <div class="top-description-highlight">
                <h1 id="listing-title-large"><%= @listing.title %></h1>
                <p id="address-large"><%= @listing.address_number %> <%= @listing.address_street %> <%= @listing.address_zone %> <%= @listing.address_city %></p>            

            </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <br/>
        <div class="top-description">
        <p id="created-at-med">Listed <%= time_ago_in_words(@listing.created_at) %> ago</p> 
        </div>
        <% if @listing.sold != true %>
        <div class="top-description">
        <p id="price-large"><%= number_to_currency(@listing.price, negative_format: "(%u%n)") %></p>
        <%= render 'purchases/form' %>
        
<% else %>
<div class="sold">
<%= image_tag "/logos/sold.png" %>

<% end %>
        <br/>
        </div>
        
    </div>
    <div class="col-md-8">
        <div class="container">
            <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                <div class='carousel-outer'>
                    <div class='carousel-inner'>
                        <% @photos.each do |photo| %>
                            <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                            <%= image_tag photo.image.url() %>
                            </div>
                        <% end %>
                    </div>
                    <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                    <span class='glyphicon glyphicon-chevron-left'></span>
                    </a>
                    <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                    <span class='glyphicon glyphicon-chevron-right'></span>
                    </a>
                </div>
            </div>
        </div> 
    </div>
<br/>

<div class="row">
    <div class="col-md-9">  
            <div class="mid-description">
                <p>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag @listing.house_type_icon(@listing.living_area), style: 'height:100px;' %>
                        <br/>
                        <%= @listing.house_type_name(@listing.living_area) %></p>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag "toilet.png", style: 'height:100px;' %>
                            <br/>
                            <%= pluralize(@listing.bath_room, "Bathroom") %></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag "bed.png", style: 'height:100px;' %>
                            <br/>
                            <%= pluralize(@listing.bed_room, "Bedroom") %></p>
                        </div>
                    </div>
                        <% if @listing.air_conditioning == true %>
                        <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">                        
                         <p id="listing-features-icon"><%= image_tag "ac_bot.png", style: 'height:100px;' %>
                            <br/>
                            AC House Bot<br/>Enabled</p>                            
                            </div>
                    </div>
                    <% end %>
                    <% if @listing.heating == true %>
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag "heat_bot.png", style: 'height:100px;' %>
                            <br/>
                            Heat Bot<br/>Enabled</p>
                        </div>
                    </div>
                    <% end %>
                    <% if @listing.yard == true %>
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag "out_door.png", style: 'height:100px;' %>
                            <br/>
                            Outdoor<br/>Areas</p>
                        </div>
                    </div>
                    <% end %>
                    <% if @listing.smart_system == true %>
                    <div class="col-md-2">
                        <div class="form-group text-center" id="#listing-icon-container">
                        <p id="listing-features-icon"><%= image_tag "smt_home.png", style: 'height:100px;' %>
                            <br/>
                            Smart<br/>House</p>
                        </div>
                    </div>
                    <% end %>
                </div>                   
                <br/>
                <h2>Description</h2>
                <%= @listing.description %>
                </p>
            </div>
        </div>


    <div class="col-md-3">  
            <div class="mid-description-profile text-center">
                <p>
                <%= image_tag avatar_url(@listing.user), class: "avatar-large"%>
                <h2><%= @listing.user.first_name %> <%= @listing.user.last_name %></h2>
                Member Since <%= @listing.user.created_at.strftime(" %B %Y") %>
                </p>
            </div>
              <% if current_user != @listing.user %>
                <p><%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: :post, class: "btn btn-form-edit btn-block" %></p>
                <p><%= link_to "View Profile", user_path(@listing.user.id), class: "btn btn-form-view btn-block" %></p>
             <% else %>
<p><%= link_to "My Messages", conversations_path, method: :get, class: "btn btn-form-edit btn-block" %></p>
</p>
      <p><%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-form-view btn-block" %></p>
<% end %>

  
    </div>
    </div>
