<div class="row">
    <div class="col-md-12">
        <div class="panel-default">
            <div class="panel-heading"><h1>Your Conversations</h1></div>
            <div class="panel-default-search">
                <div class="container">
                
                    <% @conversations.each do |conversation| %>
                    <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
                    <%= link_to conversation_messages_path(conversation) do %>
                        <div class="row conversation">
                            <% if conversation.messages.any? %>
                                <div class="col-md-1">
                                    <%= image_tag avatar_url(other), class: "avatar_medium" %>
                                </div>
                                <div class="col-md-3">
                                    <%= other.first_name %> <%= other.last_name %>
                                    <br/>
                                    <%= time_ago_in_words(conversation.messages.last.message_time) %> ago
                                </div>
                                <div class="col-md-8">
                                    <%= conversation.messages.last.context %>
                                    
                                </div>
                              
                            <% end %>
                            
                        </div>
                        
                        <br/>
                    <% end %>
                    <% end %>
                   
                </div>
            </div>
        </div>
    </div>
</div>