<!DOCTYPE html>
<html>
  <head>
    <title>MarsBNB - The First Mars Lodging Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

      <%= render 'shared/navbar'%>
      <%# <%= render 'shared/message'%>   

      <div class="container">
      <div class="content-inside">
        <%= yield %>
        </div>
      </div>
<%= render 'shared/footer'%>
  <body>

    


    
  </body>
  
</html>
